<?xml version="1.0"?>
<config>
    <modules>
        <Smegento_Adminhtml>
            <version>0.0.1</version>
        </Smegento_Adminhtml>
    </modules>
    <global>
        <blocks>
            <smegento_adminhtml>
                <class>Smegento_Adminhtml_Block</class>
            </smegento_adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Smegento_Adminhtml_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <smegento_adminhtml>
                <class>Smegento_Adminhtml_Helper</class>
            </smegento_adminhtml>
        </helpers>
    </global>
</config>
